# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1. python
    2. R language
    3. Java Script

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Tensor Flow
4. Keras
5. SciPy

| Data Science Tools| 
|------|
|   JupyterNotebook  | 
|   RStudio IDE  | 
|   Apache spark  |

## Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5  #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
a= 200//60    #This will convert 200 minutes to hours by diving by 60.
f" There are {a} hrs."

' There are 3 hrs.'

**Objectives: 
         * Arthematic operations
         * Popular data science languages
         * Popular tools

## Sana Jahangir